* {
    box-sizing: border-box
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100%;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h4 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

li {
    font-size: 25px;
}



.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: rgb(152, 10, 34);
    z-index: 4;
}

header .grupo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 20px;
}


header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

header a:hover {
    color: rgb(0, 0, 0);
}


.portada {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: rgb(0, 0, 0);
}

.titulo {
    margin-bottom: 10%;
    height: 80%;
}

.titulo h1 {
    font-size: 44px;
    padding-left: 5%;
    padding-top: 13%;
    font-family: 'Source Code Pro', monospace;
    color: rgb(152, 10, 34);
}

.titulo p {
    font-size: 20px;
    padding-left: 5%;
    padding-right: 10%;
    font-family: 'Open Sans', sans-serif;
    color: rgb(152, 10, 34);
}

.integrantes {
    margin-bottom: 22%;
    height: 90%;
    background-color: rgb(214, 214, 214);
    z-index: -1;
}

.integrantes p {
    font-size: 18px;
    padding-top: 79%;
    padding-left: 20%;
    padding-right: 10%;
    padding-bottom: 24%;
    font-family: 'Open Sans', sans-serif;
}

/*Lev Manovich*/

.fondo-manovich img{
    width: 100%;
    position: absolute;
    top: 60%;
    z-index: -1;
}

.manovich{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
    padding-bottom: 100px;
    background-color: rgb(255, 255, 255);
    z-index: -1;
}

.manovich-img img{
    position: absolute;
    z-index: 1;
    width: 530px;
    right: 5%;
    top: 92.1%;
}

.titulo-manovich {
    background-color: rgb(212, 212, 212);
    color: rgb(152, 10, 34);
    width: 350px;
    margin-left: 5%;
}

.titulo-manovich h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 44px;
}

.subtitle-manovich {
    color: rgb(255, 255, 255);
    width: 6%;
    padding-top: 1%;
    padding-left: 5%;
}

.subtitle-manovich h1 {
    font-family: 'Source Code Pro', monospace;
    background-color: black;
    width: 100px;
    font-size: 25px;
    padding: 15%;
    font-size: 18px;
    text-align: center;
}

.texto-manovich p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 50%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 2%;
}

.biolev {
    position:absolute;
    font-family: 'Source Code Pro', monospace;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 205px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
    margin-left:5%;
    text-decoration: none;
    margin-top: -1%;
}


.biolev:hover {
    color: rgb(255, 255, 255);
    background-color:rgb(152, 10, 34);
    border-color: rgb(152, 10, 34);
}

/*Paper Manovich*/

.imgpaper-manovich img{
    width: 22%;
    position: absolute;
    right: 15%;
    margin-top: 2%;
}

.titulo-paper{
    color: rgb(0, 0, 0);
    width: 700px;
    margin-left: 5%;
    padding-top: 14%;
    margin-top: 4%;
    Line-height: 50px;
}

.titulo-paper h1{
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    padding-left: 9.5%;
}

.manovichart-title{
    display: inline-flex ;
    top: 2%;
    padding-left: 9.5%;
}

.manovichart-title h1{
    color: rgb(255, 255, 255);
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(152, 10, 34);
    width: 120px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
}

.manovichart-title2 h1{
    position:absolute;
    color: rgb(255, 255, 255);
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(152, 10, 34);
    width: 140px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    margin-left:20%;
    margin-top: -2.72%;
    padding-top: 5px;
}

.articletext-manovich1 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 40%;
    padding-left: 9.5%;
    padding-top: 1%;
    padding-bottom: 4%;
}

.articlered-box img{
    width: 450px;
    position: absolute;
    margin-left: 8%;
}

.articlered-box{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3%;
    padding-bottom: 4%;
    background-color: rgb(152, 10, 34);
}

.btn {
    position:absolute;
    font-family: 'Source Code Pro', monospace;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 205px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
    margin-left:15%;
    text-decoration: none;
    margin-top: 9%;
}

.btn:hover {
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    border-color:rgb(255, 255, 255);
}

.articletext-manovich2 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 40%;
    padding-left: 8.5%;
    margin-left: 50%;
    color: white ;
}

.cita-manovich{
    margin-left: 5%;
    margin-top: 5%;
    width: 1000px;
    display: flex;
    flex-direction: column;
    

}

.cita-manovich h1{
    background-color: rgb(187, 187, 187);
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    padding-left: 0.5%;
    width: 900px;
    margin-left: 5%;
    color: rgb(0, 0, 0);
}

.cita-manovich p{
    position:absolute;
    color: rgb(255, 255, 255);
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(152, 10, 34);
    width: 140px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    margin-left:5%;
    margin-top: 6%;
    padding-top: 5px;
}

/*Ryoji Ikeda*/

.fondo-ikeda {
    width: 100%;
    position: absolute;
    top: 380%;
    z-index: -1;
}

.foto-ikeda img{
    position: absolute;
    width: 420px;
    right: 5%;
    z-index: 3;
    margin-right: 4%;
}

.ikeda-box{
    display: flex;
    justify-content: space-between;
}

.title-ikeda{
    background-color: rgb(255, 255, 255);
    color: rgb(152, 10, 34);
    width: 320px;
    margin-left: 6%;
    margin-top: 5%;
}

.titulo-ikeda h1{
    position: absolute;
    font-family: 'Source Code Pro', monospace;
    font-size: 44px;
    padding-left: 0%;
    margin-top:5%;
}

.audio {
    position: absolute;
    top:387%;
    margin-left: 30%;
}

.subtitle-ikeda {
    color: rgb(255, 255, 255);
    width: 6%;
    padding-top: 2%;
    padding-left: 9.5%;
    margin-top: 15%;
}

.subtitle-ikeda h1 {    
    font-family: 'Source Code Pro', monospace;
    background-color: black;
    width: 85px;
    font-size: 25px;
    padding: 15%;
}

.texto-ikeda p{
    background-color: rgb(152, 10, 34);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 35%;
    padding-left: 10px;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 9.5%;
}

.texto-ikeda{
    color: white;
}

/*Artículo Ikeda*/
.data1{
    display: flex;
    justify-content: space-between;
}

.gif-dataverse img{
    position: absolute;
    right: 9%;
    width: 36%;
}

.gif-proyecto img{
    position: absolute;
    z-index: -1;
    width: 100%;
}

.ikedart-title{
    color: rgb(255, 255, 255);
    width: 6%;
    padding-top: 2%;
    padding-left: 9.5%;
}

.ikedart-title h1{
    font-family: 'Source Code Pro', monospace;
    background-color: black;
    width: 135px;
    font-size: 25px;
    padding: 15%;
}

.ikedapaper-title{
    color: rgb(0, 0, 0);
    width: 1000px;
    margin-left: 1%;
    padding-top: 8%;
}

.ikedapaper-title h1{
    font-family: 'Source Code Pro', monospace;
    font-size: 44px;
    padding-left: 9.5%;
}

.articletext-ikeda1 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 40%;
    padding-left: 9.5%;
    padding-top: 1%;
    padding-bottom: 4%;
    color: rgb(152, 10, 34);
    font-weight: bold;
}

.articletext-ikeda2 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 42%;
    padding-left: 0%;
    margin-left: 9.5%;
    color: rgb(255, 255, 255);
    background-color: rgb(152, 10, 34)
}

.grey-box{
    background-color: rgb(212, 212, 212);
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 5%;
}

.descripcion-proyecto p{
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    padding-left: 0%;
    width: 400px;
    color: white;
}

.descripcion-proyecto{
    background-color: rgba(119, 119, 119, 0.712);
    width: 400px;
    margin-left: 9.5%;
    margin-top: 35%;
}

.inst{
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid rgb(152, 10, 34);
    color: white;
    background-color: rgb(152, 10, 34);
    padding-top: 5px;
    padding-bottom: 7px;
    padding-right: 20px;
    margin-left: 9.5%;
    margin-top: 2%;
    text-decoration: none;
}

.inst:hover {
    color: rgb(152, 10, 34);
    background-color: rgb(255, 255, 255);
    border-color: white;
}

/*Vinculación*/
.titulo-vinculacion{
    background-color: rgb(152, 10, 34);
    color: white;
    width: 320px;
    margin-left: 6%;
    margin-top: 12%;
}

.titulo-vinculacion h1{
    font-family: 'Source Code Pro', monospace;
    font-size: 44px;
    padding-left: 0%;
}

.texto-vinculacion{
    display: flex;
    justify-content: space-evenly;
}

.vincul1 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 45%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 4%;
    margin-left: 13%;
}

.vincul2 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 50%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 4%;
    margin-left: 13%;
}

/*Conclusión*/
.conclusion-img img{
    width: 100%;
    position: relative;
    top: 845%;
    z-index: -2;
}

.conclusiones-box{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3%;
    padding-bottom: 6.35%;
    background-color: rgb(255, 255, 255);
    z-index: -1;
}

.titulo-conclusion{
    background-color: rgb(255, 255, 255);
    color: rgb(152, 10, 34);
    width: 335px;
    margin-left: 6%;
    margin-top: 0%;
}

.titulo-conclusion h1{
    font-family: 'Source Code Pro', monospace;
    font-size: 44px;
    padding-left: 0%;
}

.uno-dos{
    background-color: rgb(152, 10, 34);
    width: 2%;
    color: white;
    position: absolute;
    margin-top: 1%;
    margin-left: 5%;
}

.tres-cuatro{
    background-color: rgb(152, 10, 34);
    width: 2%;
    color: white;
    position: absolute;
    margin-top: 1%;
    right: 41%;
    
}

.conclusion-text1 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 70%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 4%;
    margin-left: 13%;
}

.conclusion-text2 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 80%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 4%;
    margin-left: 13%;
}

.textos-conclusion{
    display: flex;
}

.cuadradonegro {
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: -2;
    position: absolute;
}

.cuadradonegro2 {
    background-color: black;
    width: 100%;
    height: 10%;
    position: absolute;
    top: 1027%;
}

footer {
    background-color: rgb(255, 255, 255);
    margin-top: 17%;
    margin-bottom: 5%;
}

footer .piepag {
    
    height: 150px;
}

footer .contacto{
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
}

.link {
    display: inline-flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: brown;
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
    margin-left: 24%;
}



header {
    position: fixed;
    width: 100%;
}

header .container {
    flex-direction: row;
    justify-content: space-between;
}

header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
}