*{box-sizing: border-box}


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 60px;}
h2{ font-size: 40px;}
h4{font-size:30px;}
p{ font-size: 25px;}
li{ font-size: 25px;}

button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    color: white;
    background-color: blueviolet;

}

button:hover{
    color: blueviolet;
}


.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(245,245,245);
    
}

header .grupo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 25px;}


header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}


#portada{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: url("img/d1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;

}

#reseña-paper .container {
    text-align: center;
    padding: 200px 12px;
}

#autor-paper{
    background-color: black;
    color: white;
    text-align: center;
}

#autor-paper .container{
    padding: 150px 12px;
}

#autor-paper h2{
    margin-top: 0;
    font-size: 40px;
}


#reseña-proyecto .container {
    text-align: center;
    padding: 200px 12px;
}

#autor-proyecto{
    background-color: black;
    color: white;
    text-align: center;
}

#autor-proyecto .container{
    padding: 150px 12px;
}

#autor-proyecto h2{
    margin-top: 0;
    font-size: 40px;
}

#vinculacion .container {
    text-align: center;
    padding: 200px 12px;
}


#Conclusion{
    background-color: black;
    color: white;
    text-align: center;
}

#Conclusion .container{
    padding: 150px 12px;
}

#Conclusion h2{
    margin-top: 0;
    font-size: 40px;
}

footer{
    background-color: lightpink;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


  header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

 header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;